<section>
	<h2>Wordpress posts</h2>
	<ul>
		<li *ngFor="let post of posts">
			<a (click)="selectPost(post.id)">{{ post.title.rendered }}</a>
			<div [innerHTML]="post.excerpt.rendered"></div>
		</li>
	</ul>
</section>
